.boxes {
  background-color: black;
  height: 400px;
  width: 400px;
}

.box--1 {
  height: 100px;
  width: 100px;
  background-color: aqua;
  border: 2px solid rgb(214, 143, 22);
}
.box--2 {
  height: 100px;
  width: 100px;
  background-color: blue;
  border: 2px solid rgb(233, 152, 14);
}
.box--3 {
  height: 100px;
  width: 100px;
  background-color: blueviolet;
  border: 2px solid rgb(230, 123, 16);
}
