body{
    display: flex;
    justify-content: center;
    height:100vh;
    align-items: center;
    overflow: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(47, 0, 255, 0.11);
   }
   table{
  box-shadow: 0px 0px 10px;
  padding: 50px;
  border-radius: 10px;
}



